# Root ignores
*.log
.DS_Store
.idea/
backend/target/
frontend/node_modules/
frontend/dist/
.env
.venv/

/target/maven-archiver/pom.properties
/target/task-manager-backend-1.0.0.jar
/target/task-manager-backend-1.0.0.jar.original
